


<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-36442208-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
<p> Please find below some information about my circumstances and the work I do in Machine Learning :) --> Just skip to the first and the third page of the resume / or look below this embedded pdf </p>

<iframe src="https://docs.google.com/file/d/0B4K4Bp9Vc6EOeVVaVVRMRUx4dlU/preview" width="50%" height="800" style="float:middle"></iframe>
<p>
<b>MITRE Corporation- Federal Systems Security Division</b><br>
Paid Intern. Sept. 2012 ~ to date<br>
I am building a Dynamic Reputation System for the Domain Name System (DNS), an essential Internet protocol used by both legitimate Internet applications and cyber attackers. The cyber attacker that my system helps to identify specifically is the APT (Advanced Persistent Threat) which is responsible for a number of attacks on government agencies, corporations and political activists. They focus on stealth and accessibility rather than the smash-and-grab approach and tend to be focused on a specific set of data which has been pre-researched.
The premise of the research is that that malicious, agile use of DNS has unique characteristics, such as DNS TTL Records which specify how long to keep a DNS Record. Through machine learning on query and network data, APTs and malicious attackers can be distinguished from legitimate DNS services. The system once fully operational will identify malicious domains weeks or even months before they appear in public blacklists and will be able to in an offline recognition capacity. I am conducting my work under the mentorship of Dept. Head Mr. Fayad Amgad and Dr. Steven Gianvecchio.
<br><br>
<b>NIST, Center for Neutron Research (NCNR)</b> <br>(Summer 2012)<br>
Bayesian uncertainty modeling for parametric systems (BUMPS). BUMPS is a component of a small angle neutron scattering (SANS) modeler. In SANS one is able to find intensity data at a particular location but not how it bounced off the surface to get to said location. In order to find the structure, you then simulate the model positions and calculate expected particle intensities. In order to calculate the probability distribution for certain positions in order to attempt to recover uncertainty. In order to do this, we used Markov Chain Monte Carlo Methods (MCMC) which sampled the data to try and find the most probable (maximum likelihood estimation) as well as the one that fit the data the best.


The program uses expensive trajectory calculations as well as Markov Sampling Calculations and runs in parallel on a multicore server;I used a 48 core server. In order to take advantage of the multiple cores and reduce overhead, we looked into how to optimize the parallelization and efficiently combine the results from multiple Markov Chains.


In addition, I looked at optimization algorithm robustness (some of these were: the Nelder-Mead Simplex Algorithm, Newton's Method, Random Lines and Parallel Tempering) on a variable dimension Hermite spline in order to test successful convergence percentage and Markov chain convergence. To further determine Markov Chain Convergence, I looked at analytic convergence criterion for multidimensional Markov chains and multidimensional probability distributions. My work was done under the mentorship of scientist Paul Kienzle.
</p>
