<TITLE>S Ghose</TITLE>
<link rel="shortcut icon" href="static/icon.ico"/>
<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-36442208-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>


<!--<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
-->
<script src = "static/bootstrap.min.js"></script>
<link href="static/bootstrap.css" rel="stylesheet">
<link href="static/bootstrap-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>

<style> 
body {padding-top: 60px; }
.navbar .brand {
font-family: 'Norican', cursive
}
</style>


<body>

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
       <!--   <a class="brand btn btn-mini btn-inverse" href="#">Shomiron Ghose!</a> -->
        
         <a class="brand" href="#">Shomiron Ghose!</a>
	  
	<div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="http://www.github.com/RONNCC">Github</a></li>
              <li><a href="http://openstudy.com/users/RONNCC">My OpenStudy Page</a></li>
              <li><a href="http://www.catsandscience.tumblr.com">My Tumblr Page</a></li>
              <li><a href="http://www.srghose.wordpress.com">My Sci/Tech Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>

<div class="container">
<p>
sorry - I haven't made a nice main page yet.... but <a href="http://en.wikipedia.org/wiki/Hello_world_program">Hello World!</a> :D
</p>
<p>
Its ok though, the other links work ex. something.com/test OH and they have graphics better than this plain text page... or at least should... like CSS AND JAVASCRIPT :) !
</p>
right now there are the following: 
<h2>Colleges look here!</h2>

<div id="grayedout">
<ul>
<li><a href=""> Additional Information with respect to colleges </a></li>
 <li><a href="">Choose Me!</a> Work in progress</li>
 <li><a href="">Activities</a> Expanded Activities Synopses</li>
</ul>
</div>

<h3> Other things</h3>
<ul>
	<li><a href="/resume">Resume:</a> My Resume.pdf in HTML5!
	<li><a href="/dino">Dino:</a> because dinos are awesome</li>
	<li><a href="/sigma">Sigma:</a>I used a small visualization tool for structured data. Right now it's running off of an anime database. It can be made to do active queries, but I don't want to overquery the website, so right now it's using a stable dataset.</li>
	<li><a href="http://ontheside.herokuapp.com/links">More Links</a> A more condensed version of the the below. It has maybe 10 or so links compared to the few hundred I read via Google Reader and RSS feeds ... as such, it is missing quite a bit 
    <li><a href="Google Reader XML Export">/reader:</a>because I can say what I read... or you can just import the xml file from my google reader which really shows what I read - and showing is better than telling!...really though it is better to just import it into a feed reader - I use google reader typically. Tons of XML data is not easy to read</li>
	<li><a href="http://www.xkcd.com"> XKCD: :) (one of the best science-oriented webcomics ever) </a></li>

</ul>
</p>
<br>
<h2>PROJECTS(ish)</h2>

<div id="hlt_a">
I'm currently working on my NVCC Classes, Coursera classes and school classes - 
particularly <a href="http://academics.tjhsst.edu/mathcs/courses/191.html">AMT</a>.
On the side I'm trying to learn more advanced C in preparation for an interview and am reading through and solving
Rosenlicht's "Intro. To Real Analysis" under reading guidance from Dr. Dresden (Washington and Lee Univ.) . I'm also working on a project with Dr. Paul So at GMU relating to computational physics!
</div>
<br>
<div id="grayedout">
	All current time is going towards Google Code In 2012 - i'm working on <a href="http://www.pysoy.org/">Pysoy:</a> 
"a 3d cloud game engine for  Python" and <a href="http://www.brlcad.org">BRLCAD:</a>
a "... open source solid modeling system" 
<br>
Additional time is going into Coursera's parallel processing course and Edx's Quantitative Methods course.
and the random time left thinking will be going into how can i make a nice lift/drag simulator
these are sort of works in progress :P. Next goal is building a rudimentary Go (the game) player using HMMs as that sounds fun!
<br>
	<p>
	 so www.graphvis.heroku.com/reader for the last one!'
	</p>
	<p>
	Hmm something I want to work on next ~ So Go game records are stored. I want to try running a MCMC model to see how well I can do :). It's not chess, but it's just as fun!  ~~~ Yeah... so it seems this is actually an incredibly difficult problem since Go allows for almost 400 moves and is really combinatorial in its possibilities ... ~~ Making an MCMC model with Upper Confidence Bound Trees sounds fun!</p>
	<p> And then next up using d3.js to graph some more data! http://mbostock.github.com/d3/talk/20111116/gears.html is really neat :) ... oh and remembering to add documentation to BUMPS and fix the starter scikit learn problem
	</p>
</div>
	<p>
	Also I idle on freenode's IRC channel typically at #python, #math #physics and now #scikit-learn also :) 
	</p>
<section id="contact">
<address>
<strong>Shomiron Ghose</strong><br>
<i class="icon-envelope">ronnie.ghose@gmail.com</i><br>
<i class="icon-envelope">shomiron.ghose@gmail.com</i><br>
(571) 271-4000<br>

</address>
</section>
</div>

</body>
