<!doctype html>
<html>

<head>
  
<script type="text/javascript" src="../static/pdf.js"></script>
<!-- In production, change the content of PDFJS.workerSrc below -->
  <script type="text/javascript">
    // Specify the main script used to create a new PDF.JS web worker.
    // In production, change this to point to the combined `pdf.js` file.
    PDFJS.workerSrc = '../static/pdf.js';
  </script>
  <script type="text/javascript" src="../static/pdfrender.js"></script>
</head>

<body>
  <canvas id="the-canvas" style="border:1px solid black;"/>
</body>

</html>
